
<body>

    <div id="box3">
      <div id="container">
    
          <div id="menu" class="topnav">
                <nav class="navbar">
                  <h2 class="logo"><a href="#">INFLUNEXUS</a></h2>
                  <!-- <span class="imgtab"><img src="../../assets/Logo-1.jpg" alt="logo" width="50px"></span> -->
                  <input type="checkbox" id="menu-toggle" />
                  <label for="menu-toggle" id="hamburger-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                      <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                  </label>
                  <ul class="links">
                    <li><a href="#" >Home</a></li>
                    <li><a href="video-request" >Video-Request</a></li>
                    <li><a href="add-thumbnail" class="active">New-Video</a></li>
                    <li><a href="login" class="signin">Sign In</a></li>
                    <li><a href="register" class="signup">Sign Up</a></li>
                  </ul>
                </nav>
            
          </div>
      </div>
    </div>
  
  <section>
  
    <div class="container">
      <header>Add Thumbnail & Vedio</header>
  
      <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="details ID">
          <span class="title">Add Correct Data</span>
          <div class="fields">
            <div class="input-field">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="name"
                required
              />
            </div>
  
            <div class="input-field">
              <label for="thumbnails">Thumbnail:</label>
              <input
                type="file"
                id="thumbnails"
                name="thumbnails"
                accept="image/*"
                (change)="onImageSelected($event)"
              />
              <!-- <h2>Selected Image:</h2> -->
              <!-- <img [src]="selectedImage" alt="Selected Image"> -->
            </div>
  
            <div class="input-field">
              <label for="videos">Video:</label>
              <input
                type="file"
                id="videos"
                name="videos"
                accept="video/*"
                (change)="onVideoSelected($event)"
              />
            </div>
          </div>
        </div>
  
        <button type="submit">Upload Data</button>
      </form>
  
    </div>
  
  </section>
  
    
  </body>
  